/* Основной фон #FFFFFF; */
/* Фон героя и футера #2F303A */
/* Вторичный фон (Наша команда) #F5F4FA */
/* Основной цвет шрифта #757575; */
/* Активный цвет шрифта #2196F3; */
/* Цвет шрифта заголовков #212121 */
/* Доп цвет шрифта герой #FFFFFF, футер rgba(255, 255, 255, 0.6) */

body{
    color:#212121;
    background-color: white;

    font-family: Roboto, sans-serif ;

    letter-spacing: 0.03em;
    
}

li{
    list-style: none;
    padding: 0;
}

:root{
   --active-color: #2196F3;
   --main-font: #212121;
   --secondary-text:#757575;
}


.section{
    padding-top: 94px;
    padding-bottom: 94px;
}
 

h1,h2,h3,h4,p,ul {
   margin: 0;
   padding: 0;
}


img{
    display: block;
    max-width: 100%;
    height: auto;
}

 /* Header */
 .head-nav{
     display: flex;
     margin-left: auto;
     align-items: center;
   
 }

 .header{
    border-bottom: 1px solid #ECECEC;
 }
 

 .header-link{
     color:var(--active-color) ;

     font-family: Raleway;
     font-weight: 700;
     font-size: 26px;

     line-height: 1.19;
     text-decoration: none; 

     margin-right: 93px;   
 }

 .header-conteiner{
     display: flex;
     align-items: center; 
 }

 .logo{
     color:var(--main-font);
     text-decoration: none;
     
 }
 .link-item{
     color:var(--main-font);
     background-color: white;

     font-weight: 500;
     font-size: 14px;

     line-height: 1.14;
     letter-spacing: 0.02em;
     text-decoration: none;

     
 }
 
 .link-item:hover,
 .link-item:focus{
     color: var(--active-color);
 }

 .link-content{
    margin-right: 50px;
    padding-top: 32px;
    padding-bottom: 32px;
    display: block;
 }

 .link-group{
     display: flex;
     align-items: center;
 }

 .link-nav{
     color:#757575 ;

     font-family: 'Roboto';
     font-weight: 500;
     font-size: 14px;

     line-height: 1,14;
     letter-spacing: 0.02em;
     text-decoration: none;  

     margin-right: 50px;
     display: flex;
     align-items: center;

 }

 .link-nav:hover,
 .link-nav:focus{
     color: var(--active-color);
 }  


 .nav{
     display: flex;
     margin-left: auto;
 }

.link-icon{
   margin-right: 10px;
   justify-content: center;
   fill: currentColor;

}
.link-icon:focus,
.link-icon:hover{
  fill: var(--active-color)

}

 
 
 /* Hover */

 .hover-section{
    background-color: #2F303A;
    text-align: center;

    padding-top: 200px;
    padding-bottom: 200px;

    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-position: center;
    background-image:linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
    ),
        url(../image/hover/hover.jpg);
   
    
 }

 .hover{
     color:#FFFFFF ;

     font-family: 'Roboto'; 
     font-weight: 900;
     font-size: 44px;

     line-height: 1.36; 
     letter-spacing: 0.06em;
     text-transform: uppercase; 

     margin-bottom: 30px;
 }

 .hover-btn{
     color: #FFFFFF;
     background-color: var(--active-color);

     font-family: 'Roboto';
     font-weight: 700;
     font-size: 16px;

     line-height: 1.87;  
     text-align: center;
     letter-spacing: 0.06em;
     cursor: pointer;

     align-items: center;
     border-radius: 4px;
     padding: 10px 32px;  
 }

/* Feature */

.visually-hidden { 
    position: absolute; 
    width: 1px; 
    height: 1px; 
    margin: -1px; 
    border: 0; 
    padding: 0; 
    white-space: nowrap; 
    clip-path: inset(100%); 
    clip: rect(0 0 0 0); 
    overflow: hidden; 
  } 
  
.container{
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left:  auto;
    margin-right: auto;
}

.feature-icon{
    width: 270px;
    height: 120px;
    background-color: #F5F4FA;
    margin-bottom: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
}
.feature-item{
    color: var(--secondary-text);
    width: 270px;

    font-size: 14px;
    font-weight: 400;

    line-height: 1.71;
    margin-right: 30px;
}

.feature-item:last-child{
margin-right: 0;
}

.about{
font-family: 'Roboto';

font-weight: 700;
font-size: 36px;

line-height: 1.16;
text-align: center;
letter-spacing: 0.03em;

}

.box{
    padding-bottom: 0;
}
.feature-section{
color:#212121;
font-weight: 700;
font-size: 14px;
line-height: 1.14;
text-transform: uppercase;

margin-bottom: 10px;

}
.container-feature{
    display: flex;
    }



.container-img{
display: flex;
 
margin-top: 50px;
padding-left: 0;
}


.img{
    margin-right: 30px;
    display: flex;
 
}
.img:last-child {
    margin-right: 0;

}

 /* Team */
.site-icon{
    display: flex;
    justify-content: center;
    margin-top: 16px;
}

.link-item-icon{
    display: flex;
    fill: #AFB1B8;
    width: 44px;
    height: 44px;
    align-items: center;
    justify-content: center;
}

.link-item-icon:hover,
.link-item-icon:focus{
    fill:white;
    border-radius: 50px;
    background-color: #2196F3;
   
}


 .team-container{
    display: flex;
    color: #FFFFFF;
}

.icon-list{
    margin-right: 10px;
   
}
.icon-list:last-child{
    margin-right: 0;
}


 .section-team{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    margin-bottom: 50px;
 }

 .team{
    background-color:#F5F4FA;
    color: var(--main-font);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    margin-bottom: 10px;
       
 }

 .name{
     background-color: #FFFFFF;
 }
 .team-item{
     color: var(--secondary-text);

     font-weight: 400;
     font-size: 16px;

     line-height: 1.18;
     text-align: center;

     margin-right: 30px;
     box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;

 }
 .team-item:last-child{
     margin-right: 0;
 }

 .our-team{
     padding-top: 30px;
     padding-bottom: 30px;
   background-color: #FFFFFF;
 }





 .list-clients{
     display: flex;
     justify-content: center;
     margin-bottom: 94px;
 }
 .clients{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    
    color: #212121;

    margin-top: 94px;
    margin-bottom: 50px;
 }

 .company{
     margin-right: 30px;
 }

 .company:last-child{
     margin-right: 0;
 }

 .company-link{
     fill: #AFB1B8;
     border: 1px solid #AFB1B8;
     border-radius: 4px;
     display: flex;
     padding: 16px 32px;
     cursor: pointer;
 }

 .company-link:hover,
 .company-link:focus{
     fill: #2196F3;
     border: 1px solid var(--active-color)
 }

 

 /* Footer */

 .address{
     display: inline-block
 }
 .footer-logo{
     color: #FFFFFF;
 }

.footer{
    background-color: #2F303A;
    padding-bottom: 60px;
    padding-top: 60px;
}

.footer-link{
    color: var(--active-color);

    font-family: Raleway;
    font-size: 26px;

    line-height: 1.19;
    text-decoration: none;

    display: block;
 
    margin-bottom: 20px;
   
}

.footer-address{
    color: #FFFFFF;

    font-family: 'Roboto';
    font-size: 14px;
    font-style: normal;
   
    line-height: 1.71;

    margin-bottom: 9px;
}

.address-link{
    font-family: 'Roboto';
    font-style: normal;
    font-size: 14px;

    color: rgba(255, 255, 255, 0.6);
   
    line-height: 1.71;
    text-decoration: none;
    display: block;
    margin-top: 9px;
    
}

.address-link:hover,
.address-link:focus{
    color:rgba(255, 255, 255, 0.6) ;
}

.address{
    margin-bottom: 9px;
    display: inline-block;
    

}

.footer-icon{

margin-left: 70px;

   
}
.join{
font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;

color: #FFFFFF;


margin-bottom: 20px;


}

.footer-list{
    display: flex;
   
}

.footerr{
    display: flex;
    align-items: baseline;

}
.link-footer{
   
    margin-right: 10px;

}
.link-footer:last-child{
    margin-right: 0;
}

.footer-item{
    width: 44px;
    height: 44px;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 12px;
    display: flex;
}

.footer-item:hover,
.footer-item:focus{
    background-color: var(--active-color);
}
.icon-footer{
fill: #FFFFFF;

}


/* Портфолио */
/* Main */

.btn-portfolio{

    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.btn{
    margin-right: 8px;  
}

.btn-item{
    color: var(--main-font);
    background-color:#F5F4FA;

    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;

    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    cursor: pointer;

    border-radius: 4px;
    padding: 6px 22px;

}
.btn-item:hover,
.btn-item:focus{
    color: #FFFFFF;
    background-color: var(--active-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-box{
   padding-left: 24px;
   padding-right: 24px;
   padding-bottom: 20px;
   padding-top: 20px;
   border: 1px solid #EEEEEE;
  
}
.portfolio-box:hover,
.portfolio-box:focus{
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    cursor: pointer;
}


.portfolio-img {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -30px;
}

.item-portfolio{
    margin-right: 30px; 
    margin-bottom: 30px;
    

}

.item-portfolio:nth-child(3n) {
    margin-right: 0;
}

.item-portfolio:hover,
.item-portfolio:focus{
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    cursor: pointer;
}

.portfolio{
    color: var(--main-font);

    font-size: 18px;

    line-height: 2.0;
    letter-spacing: 0.03;

    margin-bottom: 4px;
}

.portfolio-text{
    color: var(--secondary-text);

    font-weight: 400;
    font-size: 16px;

    line-height: 1.87;
}

